[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh

[submodule "lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git

[submodule "freedesktop"]
	path = awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
